<h1>Add a new photo</h1>

<form action="/create_photo">
  <label for="src"> Image URL </label>
    <input id="src" type="text" name="da_source">
  <label for="cap"> Caption </label>
    <input id="cap" type="text" name="da_caption">
  <button>Create Photo</button>
</form>
